*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    background-color:rgb(20, 20, 20);
    color: burlywood;
    font-family: 'Roboto', sans-serif;
    
    }
.container{
    position: relative;
    top: 50px;
    max-width: 400px;
    height:auto;
    margin: auto;
    
    text-align: center;
}  


.heading{
    font-size: 65px;
    font-family: 'Baloo Da 2', cursive;
    
    padding-bottom: 10px;
}

.inspiration{
    color: rgb(42, 90, 153);
    
}

#temp{
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    
    
}
#desc{
    
    font-size: 25px;
    
    text-align: left;
    letter-spacing:1px;
    padding-left: 40px;
}

#city-country{
    
    text-align: left;
    letter-spacing:1px;
    padding-left: 40px;
}
